<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <!--<target name="trace" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Logs\apm-to-aa.log"
            layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="debug" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Logs\apm-to-aa.debug.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="info" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Logs\apm-to-aa.info.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="error" xsi:type="File" fileName="C:\Users\david\Projects\UIUC\Logs\apm-to-aa.error.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />-->

    <target name="trace" xsi:type="File" fileName="C:\Users\semih\Desktop\Logs\apm-to-aa.log"
        layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="debug" xsi:type="File" fileName="C:\Users\semih\Desktop\Logs\apm-to-aa.debug.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="info" xsi:type="File" fileName="C:\Users\semih\Desktop\Logs\apm-to-aa.info.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />
    <target name="error" xsi:type="File" fileName="C:\Users\semih\Desktop\Logs\apm-to-aa.error.log"
              layout="${longdate} [${threadname}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message}" />

    <!--<target name="results" xsi:type="File" filename="C:\Users\david\Projects\UIUC\Logs\results.csv" layout="${message}" />
    <target name="symbols" xsi:type="File" filename="C:\Users\david\Projects\UIUC\Logs\symbols.csv" layout="${message}" />-->
    <target name="fail" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\fail.txt" layout="${message}" />
    <target name="success" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\success.txt" layout="${message}" />
    <target name="templog2" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\templog2.txt" layout="${message}" />

    <target name="templog" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\templog.txt" layout="${message}" />
    <target name="results" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\results.csv" layout="${message}" />
    <target name="symbols" xsi:type="File" filename="C:\Users\semih\Desktop\Logs\symbols.csv" layout="${message}" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Debug" writeTo="debug" />-->
    <logger name="*" minlevel="Info" writeTo="info,console" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="Success" minlevel="Trace" writeTo="success" />
    <logger name="Fail" minlevel="Trace" writeTo="fail" />
    <logger name="TempLog2" minlevel="Trace" writeTo="templog2" />
    <logger name="TempLog" minlevel="Trace" writeTo="templog" />
    <logger name="RESULTS" minlevel="Trace" writeTo="results" />
    <logger name="SYMBOLS" minlevel="Trace" writeTo="symbols" />
  </rules>
</nlog>
